.navbar {
    background-color: black;
}

#dap {
    color: yellow;
    margin-right: 550px;
}

.dep {
    font-size: 28px;
    color: mintcream;
}

.dip {
    background-color: white;
}

.column {
    padding-left: 150px;
}

.dup {
    justify-content: space-between;
    margin-right: inherit;
    display: flex;
    margin-block: 200px;
}

.cap {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.peep {
    color: green;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    background-image: url("images/pizza-pizza-hut-cooking-kitchen(1).jpg");
}

.footer {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
}

.us {
    text-align: center;
}

.row {
    padding-top: 10px;
}

.move {
    margin-left: 60px;
}

.img1 {
    margin-left: 1100px;
}

.choice {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}

#your-orders {
    color: white;
    font-size: 30px;
}

td,
th {
    font-size: 20px;
    color: white;
}

#infor {
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #8b0000;
}

#finallmessage {
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
}

#addedprice {
    display: none;
}

.delivery {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
}

.order-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
}

.order h2 {
    text-align: center;
}

label {
    color: white;
}